.table__stroke {
  min-width: 1200px;
  max-width: 1200px;
  display: flex;
  justify-content: left;
  align-items: center;
  align-items: center;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  transition: all 250ms ease-in-out;
  border-radius: 5px;
}

.block {
  min-width: 100px;
  max-width: 100px;
  min-height: 65px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px 0 ;
  color: #545c6a;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 300ms linear;
}

.text{
  margin: 0;
  padding: 0;
  min-width: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block:last-child {
  border: none;
  min-width: 125px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.block:first-child {
  min-width: 76px;
  max-width: 76px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.link {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #2067b0;
}

.no_link {
    color: #000;
}

.title{
    font-weight: 500;
    color: #000;
    background-color: #e0dede;
}

.convention{
  font-style: italic;
}

.agreement{
  color: #30353b;
}

.hover-stroke:hover {
  background-color: #e4e4e4;
}
